:root {
    --primary: #5300c8;
    --secondary: #03318c;
    --error: #f44336;
    --light: white;
    --dark: black;

    --primary-background: var(--primary);
    --background: var(--light);
    --title: var(--dark);

    --input-border: 3px solid var(--secondary);
    --input-border-error: 3px solid var(--error);
    --input-text: var(--secondary);
    --input-text-error: var(--error);
    --input-placeholder: var(--secondary);

    --button-background: var(--secondary);
    --button-color: var(--light);
    --button-color-primary: var(--primary);
    --button-boder: 3px solid var(--secondary);

    --card-background: var(--primary);
    --card-border: 3px solid var(--dark);
    --card-color: var(--light);
}

* {
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    max-width: 20rem;
    text-align: center;
}

header {
    background-color: var(--primary-background);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;

    img {
        height: 3.5rem;
    }
}

#container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 6rem 2rem;

    @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        align-items: center;
    }

    #products {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 45rem;
        gap: 2rem;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        #product_cards_container {
            width: 100%;
            display: grid;
            place-items: center;
            justify-content: center;
            position: relative;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            gap: 1rem;
            grid-auto-rows: 17rem;
            grid-auto-flow: dense;
        }

        .product_card {
            background-color: var(--card-background);
            border: var(--card-border);
            color: var(--card-color);
            padding: 0.75rem;
            width: 12.625rem;
            border-radius: 0.5rem;

            height: fit-content;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.75rem;
            position: relative;

            img {
                width: 10.875rem;
                height: 10.875rem;
                object-fit: cover;
            }

            span {
                font-size: 1rem;
                font-weight: 400;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
            }

            strong {
                font-size: 1.25rem;
                font-weight: 700;
            }

            button {
                background: transparent;
                border: none;
                position: absolute;
                bottom: 0.75rem;
                right: 0.75rem;
                cursor: pointer;
                img {
                    height: 1rem;
                    width: 1rem;
                }
            }
        }
    }

    form {
        width: 24rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        fieldset {
            width: inherit;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            &:has(input[data-invalid]) {
                #file_input {
                    border: var(--input-border-error);
                    color: var(--input-text-error);
                }
            }
        }

        input,
        #file_input {
            width: inherit;
            height: 3.5rem;
            border: var(--input-border);
            outline: none;
            border-radius: 999px;
            padding: 0 1rem;
            font-size: 1rem;
            font-weight: 600;
            color: var(--input-text);
            display: flex;
            align-items: center;
            &::placeholder {
                color: var(--input-placeholder);
            }

            &[data-invalid] {
                border: var(--input-border-error);
                &::placeholder {
                    color: var(--input-text-error);
                }
            }
        }

        #file_input {
            justify-content: space-between;
            #file_delete {
                display: none;
                background: transparent;
                border: none;
                outline: none;
                padding: 0;
                cursor: pointer;
                transition: all 0.1s ease-in-out;

                &:hover {
                    filter: brightness(1.5);
                }
            }

            &[data-has-file] {
                #file_delete {
                    display: block;
                }
            }
        }
        .error_message {
            margin-left: 1rem;
            color: var(--input-text-error);
            font-size: 0.95rem;
        }
        input[type='file'] {
            display: none;
        }

        .buttons_container {
            display: flex;
            gap: 0.75rem;
            width: 100%;
            .form_button {
                width: 100%;
                height: 3.5rem;
                border-radius: 1rem;
                background: transparent;
                border: none;
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--button-color-primary);
                cursor: pointer;
            }
            .filled {
                background: var(--button-background);
                color: var(--button-color);
                transition: all 0.1s ease-in-out;

                &:hover {
                    filter: brightness(1.1);
                }
            }
            .outlined {
                border: var(--button-boder);
                color: var(--button-background);
                transition: all 0.1s ease-in-out;

                &:hover {
                    filter: brightness(1.1);
                }
            }
        }
        #input_file_label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--primary-background);
    padding: 4rem 2rem;

    img {
        height: 3.5rem;
    }

    strong {
        font-family: 'IBM Plex Mono', monospace;
        color: var(--light);
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    em {
        font-family: 'IBM Plex Mono', monospace;
        color: var(--light);
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
    }
}
